<section class="row">
    <div class="column">
        <h2>Create Service</h2>

        <form class="new-service-form">
            <div>
                <label for="service-title">Title</label>
                <input type="text" id="service-title" name="service-title" />
            </div>
            <div>
                <label for="service-text">Service</label>
                <textarea id="service-text" name="service-text"></textarea>
            </div>
            <button type="submit" class="btn">Create</button>
        </form>
    </div>
    <div class="column">
        <h2>About Me</h2>
        {{!-- {{> user-info}} --}}
    </div>

</section>

{{#if services.length}}
<section>
    <h2>Your Services</h2>
    <ol>
        {{#each services as |service|}}
        <li>
        <p>
            {{service.name}}
            <a href="/profile/edit/{{service.id}}" class="edit-link">Edit Service</a>
         </p>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}
<h2 class="card-header">Services</h2>
<div class="card-group">
    {{#each offers as |offer|}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{offer.name}}</h5>
            <p class="card-text">{{offer.description}}</p>
            <p class="card-text">{{offer.user.name}}</p>
            <p class="card-text">{{offer.status}}</p>
            {{!-- {{#if logged_in}} --}}
                <p>test</p>
            <button data-offer={{offer.id}} value='accepted' class='offer-response'>Accept The Offer!</button>
            <button data-offer={{offer.id}} value='rejected' class='offer-response'>Reject The Offer!</button>
            {{!-- {{/if}} --}}
        </div>
    </div>

    {{/each}}
</div>




<!--Script to add a service-->
<script src="/js/addService.js"></script>
{{!-- added --}}
<script src="/js/acceptOfferScript.js"></script>
